<form class="auth-container" [formGroup]="authForm" (submit)="onSubmit()">
  <div class="auth-container__wrapper">
    <div class="title-block">
      <h3>Enter the Arena</h3>
    </div>

    <div class="input-block">
      <input type="text" placeholder="Enter your username" formControlName="username">
    </div>

    <div class="input-block">
      <input type="password" placeholder="Enter your password" formControlName="password">
    </div>

    <div class="btn-block">
      <button>Fight On</button>
      <a routerLink="/auth/register">New here? Become a Hero</a>
    </div>
  </div>
</form>
