<form class="auth-container">
  <div class="auth-container__wrapper">
    <div class="title-block">
      <h3>New Hero? Sign Up Now!</h3>
    </div>

    <div class="input-block">
      <input type="text" placeholder="Enter your username">
    </div>

    <div class="input-block">
      <input type="password" placeholder="Enter your password">
    </div>

    <div class="btn-block">
      <button>Join the Fight</button>
      <a routerLink="/auth/login">Already a warrior? Log In</a>
    </div>
  </div>
</form>
